:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: #393e46;
  padding: 3rem 1.9rem;
  border-radius: 1rem;
  width: 90vw;
  max-width: 25rem;
  color: #eeeeee;
}

.login__title {
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.login__form--container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login__form--input {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.login__form--input:focus {
  border: none;
}
