:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --ripple-size: 80px;
  --ripple-color: #007bff;
  --ripple-duration: 1.75s;
}

.pulsing-ripple {
  position: relative;
  width: var(--ripple-size);
  height: var(--ripple-size);
}

/* This pseudo-element creates the expanding ripple */
.pulsing-ripple::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Start the ripple with a transparent border */
  border: 4px solid #00adb5;
  border-radius: 50%;

  /* Set up the animation */
  animation: ripple-pulse var(--ripple-duration) cubic-bezier(0, 0.2, 0.8, 1)
    infinite;
}

/* Keyframes define the animation's start, middle, and end states */
@keyframes ripple-pulse {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: #393e46;
  padding: 3rem 1.9rem;
  border-radius: 1rem;
  width: 90vw;
  max-width: 25rem;
  color: #eeeeee;
  box-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.2),
    0 15px 20px -5px rgba(0, 0, 0, 0.22);
}

.formContainer {
  background-color: #393e46;
  padding: 3rem 1.9rem;
  border-radius: 1rem;
  width: 90vw;
  max-width: 25rem;
  color: #eeeeee;
  box-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.2),
    0 15px 20px -5px rgba(0, 0, 0, 0.22);
}

.login__title,
.formContainer__title {
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.9rem;
}

.formContainer__title span {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2.3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 0.9rem;
  font-family: "Red Hat Display", sans-serif;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label {
  font-family: "Red Hat Display", sans-serif;
}

.form__input {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 3px solid #393e46;
}

.form__input:focus {
  outline: none;
  border-color: #00adb5;
}

.form__upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__upload--label {
  background-color: #222831;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.form__upload--label:hover {
  background-color: #282c33;
  color: #ffffff;
}

.form__label--disabled {
  background-color: #0f1115;
  cursor: not-allowed;
}

.form__label--disabled:hover {
  background-color: #0f1115;
}

.form__file {
  font-style: italic;
  letter-spacing: 1px;
  font-family: "Tinos", serif;
  display: inline-block; /* Or display: block */
  overflow-wrap: break-word;
  max-width: 5rem;
}

.form__buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.form__submit,
.form__redirect {
  outline: none;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tinos", serif;
  transition: all ease-in-out 0.3s;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.form__redirect {
  width: max-content;
}

.form__submit {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 0.3rem;
  border: 3px solid #393e46;
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 1.3rem;
  cursor: pointer;
}

.form__submit:disabled {
  background-color: #006469;
  cursor: not-allowed;
}

.form__submit:disabled:hover {
  background-color: #006469;
}

.form__submit:hover {
  background-color: #26c4cc;
}

.form__redirect {
  color: #eeeeee;
  margin-left: auto;
  font-size: 1rem;
  margin-right: 5px;
}

.form__redirect:hover {
  color: #ffffff;
}

.app {
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  flex-grow: 1;
  min-width: 100vw;
  position: relative;
  background-color: #faf9f6;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 3rem;
  background-color: #222831;
  color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
}

.header__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header__profile--img {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 100%;
}

.header__profile--name {
  color: #eeeeee;
  font-size: 1rem;
  font-family: "Tinos", serif;
  font-style: italic;
}

.header__btns {
  display: flex;
  gap: 0.7rem;
}

.header__btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  border-radius: 0.3rem;
}

.header__btn:hover {
  background-color: #353c47;
}

.sidenav {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  z-index: 100;
  width: 45%;
  height: 100%;
  background-color: #393e46;
  /* background-color: #222831; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-start; */
  padding: 1rem 1.5rem;
  box-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.2),
    0 15px 20px -5px rgba(0, 0, 0, 0.22);
}

.sidenav__menu {
  width: 1.7rem;
  height: 1.7rem;
  color: #eeeeee;
  margin-right: auto;
}

.sidenav__btns {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 45%;
}

.sidenav__btn {
  width: 100%;
  padding: 0.9rem 2.3rem;
  border-radius: 0.3rem;
  border: 3px solid #393e46;
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: "Tinos", serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: max-content;
  max-height: max-content;
  flex-grow: 1;
  margin-top: 5rem;
  padding: 3.5rem 1.5rem;
  position: relative;
  z-index: 1;
  background-color: #faf9f6;
}

.doctor {
  height: 100%;
  width: 100%;
  position: relative;
}

.btns {
  margin: 0 auto;
  width: 85%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-family: "Red Hat Display", sans-serif;
}

.btns__btn {
  border: none;
  /* font-weight: 600; */
  font-size: larger;
  color: #ffffff;
  letter-spacing: 2px;
  background-color: #00adb5;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  padding: 1rem 2.5rem;
  text-align: center;
}

.doctor__form {
  position: absolute;
  content: "";
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #393e46;
  color: #eeeeee;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 0.9rem;
  font-family: "Red Hat Display", sans-serif;
  padding: 1.5rem 2.5rem;
  box-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.2),
    0 15px 20px -5px rgba(0, 0, 0, 0.22);
}

.doctor__form--container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.doctor__form--input {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 3px solid #393e46;
}

.doctor__form--input:focus {
  outline: none;
  border-color: #00adb5;
}

.doctor__form--btn {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 0.3rem;
  border: 3px solid #393e46;
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: "Tinos", serif;
  letter-spacing: 1px;
}

.doctor__form--cancel {
  border: none;
  background-color: transparent;
  color: #eeeeee;
  margin-right: 0.25rem;
  margin-left: auto;
  margin-top: -0.7rem;
}

.predict {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3rem;
  overflow: hidden;
}

.predict__form {
  position: fixed;
  top: 5rem;
  z-index: 55;
}

.predict__form--title {
  color: #eeeeee;
  font-family: "Tinos", serif;
  text-align: center;
}

.predict__results {
  position: fixed;
  top: 45%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: #eeeeee;
  padding: 3rem 1rem 3rem;
  border-radius: 0.7rem;
  margin: 3rem 0;
  width: 85%;
  flex-grow: 1;
  scrollbar-width: none;
  height: calc(100vh - 50%);
  overflow-y: scroll;
  /* box-shadow: inset 0 8px 10px -5px rgba(0, 0, 0, 0.15); */
  z-index: 50;
}

.predict__results::before {
  content: ""; /* Required for pseudo-elements to appear */
  position: absolute; /* Position relative to the scroll-container */
  top: 0;
  left: 0;
  width: 100%;
  height: 15px; /* The height of the shadow effect */

  /* The shadow effect using a gradient */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);

  /* Make sure the shadow is on top of the content */
  z-index: 49;

  /* Allows mouse clicks to pass through the shadow to the content below */
  pointer-events: none;
}

.predict__result {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.9rem;
}

.predict__result::after {
  position: absolute;
  content: "";
  top: 104%;
  transform: translateY(-50%);
  border: 0.5px solid #222831;
  width: 100%;
  opacity: 0.3;
}

.predict__scan,
.predict__heatmap {
  width: 65%;
  height: auto;
  z-index: 47;
}

.predict__class {
  font-size: "Red Hat Display", sans-serif;
  font-weight: 500;
  color: #393e46;
}

.predict__class > span {
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-family: "Tinos", serif;
  color: #222831;
}

.predict__heatmap {
}

/* The main container for the skeleton loader */
.skeleton-container {
  align-self: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  text-align: center;
  width: 320px;
  padding: 20px;
  border-radius: 8px;
  background-color: #eeeeee;
}

/* Base styles for all skeleton placeholder elements */
.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  position: relative;
  overflow: hidden; /* Crucial for the shimmer effect */
  margin-bottom: 12px;
}

/* The shimmer animation effect */
.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    #ebebeb 50%,
    transparent 100%
  );
  animation: shimmer 1.5s infinite;
}

/* Keyframes for the shimmer animation */
@keyframes shimmer {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Adjust the distance based on the container width for a smooth effect */
    transform: translateX(470px);
  }
}

/* Specific styles for the layout parts */
.skeleton-image {
  height: 180px; /* Height for the image placeholders */
  margin-bottom: 16px;
}

.skeleton-text {
  height: 16px; /* Height for each line of text */
  width: 100%;
  text-align: center;
}

.skeleton-text.short {
  width: 70%; /* Make the last line of text shorter */
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-transform: capitalize;
}

.help__title {
  font-size: 1.7rem;
  line-height: 1.9;
  font-family: "Tinos", serif;
  text-align: center;
  color: #222831;
}

.help__steps {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.help__step {
  text-align: center;
}

.help__step span {
  font-style: italic;
}
